- @recipes.each do |rec|
  %ul
    %li= rec.title
    %li= rec.description
    %li= rec.ingredient_list
    - if rec.admin_id != nil
      %li= rec.admin_username
    = link_to "View More", recipe_path(rec.id)
    -if logged_in?
      = link_to "(Delete)",  recipe_path(rec.id), method: :delete
  %hr
