%h1 Hi there. this is recipes
= form_for(@recipe, class: "new_recipe_form") do |f|
  = f.text_field :title, placeholder: "Title", class: "input-area"
  %br
  = f.text_area :description, placeholder: "This is where you put the recipe", class: "input-area"
  %br
  = f.text_area :ingredient_list, placeholder: "Ingredients...", class: "input-area"
  %br
  = f.submit "Add Recipe", class: "submit-button"
