!!!
%html
%head
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%title Travisapp
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
%body
= render '_partials/navigation'
- flash.each do |message_type, message|
  %div{:class => "alert alert-#{message_type}"}= message
= yield
%hr
%footer.footer
  .container.is-fluid
    .content.has-text-centered
      - if logged_in?
        = @current_admin.username
        = link_to "Log out", logout_path, method: :delete
      - else
        = link_to "Log in", login_path
      = debug(params) if Rails.env.development?
